<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- <div class="card-header">
        <h4 class="card-title"> Category List</h4>
      </div> -->
      
      <div class="card-body">
        <div class="pull-right"><button class="btn btn-default btn-block" (click) = "createCategory()">Add New</button></div>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
              Image
              </th>
              <th>
                Name
              </th>
              <th>
                SubCategories
              </th>
              <th>
                Active
              </th>
             <th>Edit</th>
             <!-- <th>Delete</th> -->
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>
                  <img [src]= "category.mainImageUrl" class="img-thumbnail p-1" height="150px" width="150px"/>
                </td>
                <td>
                  <a [routerLink]="['/admin/category/details',category.id]" style="cursor: pointer;" title="Category details"> {{category.name}}</a>
               </td>
               <td>
                 <a href="#"> {{category.subCategories.length}}</a>
                
               </td>
                <td>
                  <input type="checkbox" [checked] = "category.active" disabled/>
                </td>
                <td>
                  <a [routerLink]="['/admin/category/edit',category.id]" style="cursor: pointer;" title="Edit category"> <i class="fa fa-edit fa-w-18 fa-2x"></i></a>
                 </td>
                <!-- <td>
                  
                <a style="cursor: pointer;" (click)="deleteCategory(category.id)" title="Delete category"> <i class="fa fa-trash fa-2x"></i></a>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
