.navbar {

    background: #b0aead;
}

.navbar .navbar-nav .nav-item .nav-link {
    line-height: 1.6;
    margin: 15px 0px;
    padding: 10px 15px;
    opacity: 0.8;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
}

.navbar .navbar-brand {
    font-weight: 600;
    margin: 5px 0px;
    padding: 20px 15px;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}