<!-- "node_modules/bootstrap/dist/css/bootstrap.min.css",
"src/assets/sass/paper-kit.scss",
"src/assets/css/demo.css",
"src/assets/css/nucleo-icons.css" -->
<!-- <link type="text/css" href="../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->

<!-- <link  [href]='sanitizer.bypassSecurityTrustResourceUrl("../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css")'>
<link rel="stylesheet" type="text/css" href="/assets/sass/paper-kit.scss">
<link rel="stylesheet" type="text/css" href="/assets/css/demo.css">
<link rel="stylesheet" type="text/css" href="/assets/css/nucleo-icons.css"> -->
<!-- 
<app-header></app-header> -->
<app-app-header></app-app-header>
<router-outlet></router-outlet>