<div class="wrapper">
  <div
    class="page-header section-dark"
    style="
      background-image: url('https://content-static.upwork.com/blog/uploads/sites/3/2017/10/23085645/How-Much-to-Hire-Data-Entry-Specialist-feature.png');
    "
  >
    <div class="filter"></div>
    <div class="content-center">
      <!-- <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Bridge That Gap with Wisdom</h1>
        </div>

        <h2 class="presentation-subtitle text-center">
          Developed by Varun Rampal
        </h2>
      </div> -->
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <app-featured-post></app-featured-post>
    <app-recent-post></app-recent-post>
  </div>
</div>
