<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ category?.name }}</h5>
      </div>
      <div class="card-body">
        <div>
          <img [src]="category?.mainImageUrl" height="200px" width="200px" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-body">
        <tabset>
          <tab heading="Edit Details" id="tab1">
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()" style="margin-top: 20px;">
              <div class="form-group">
                <label for="name">Category Name:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="categoryName"
                  id="name"
                  [appIsalreadyexists] = "categoryExists"
                  [entityId]="id"
                  [entityType] = "type"
                  (isNameExists)="isNameExists($event)"
                  (isEmpty) = "isEmpty($event)"
                  required
                  pattern="/[A-Z]{5}\d{4}[A-Z]{1}/i"
                 />
                 <!-- <p *ngIf="nameExists && !empty" style="color: red;">Category name entered already exists</p>
                 <p *ngIf="empty && !nameExists" style="color: red;">Please enter category name</p> -->

                 
              </div>

              <div class="checkbox">
                <label><input type="checkbox" formControlName="isActive" [checked] = "category?.active" /> Active
                </label>
              </div>

              <button type="submit" class="btn btn-default" [disabled] = "nameExists || empty">Save</button>
            </form>
          </tab>
          <tab heading="Edit Images">
            <app-admin-image-editor
              [images]="images"
              [type]="type"
              [catId] = "id"
              [subCatId] = "0"
              (getImageChange)="updateMainImage($event)"
            ></app-admin-image-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
