<div class="row">
  <div class="col-md-4">
    <div class="card">
     
        <div class="card-header">
          <h5 class="card-title">{{ category.name }}</h5>
          <p class="card-category">Active: <input type="checkbox" [checked]="category.active" disabled></p>
        </div>
        <div class="card-body">
            <img [src]= "category.mainImageUrl" height="200px" width="200px"/>
    
        </div>
      
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-body">
        <tabset>
          <tab heading="Sub Categories" id="tab1"
            ><ul>
              <li>Sub category 1</li>
              <li>Sub category 2</li>
              <li>Sub category 3</li>
              <li>Sub category 4</li>
              <li>Sub category 5</li>
            </ul>
          </tab>
          <tab heading="Images"
            ><ngx-gallery
              [options]="galleryOptions"
              [images]="galleryImages"
            ></ngx-gallery
          ></tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
